.trustedBy{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
    .container{
        width: 700px;
        display: flex;
       align-items: center;
        justify-content: center;
        gap: 20px;
        color: gray;
        font-weight: 500;
       
        img{
            height: 50px;
            object-fit: contain;
        }
        
    }
}